* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wheel_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.502);
  z-index: 9999;
  display: none;
  animation: openmodal 0.3s ease-in-out;
}
@keyframes openmodal {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.wheel_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wheel_modal {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  position: relative;
}

.wheel_result {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#wheel_result {
  padding: 10px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
}

#copy_btn {
  padding: 12px;
  box-shadow: #03c98794 0px 7px 29px 0px;
  background-color: #03c988;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: 5px;
}
#copy_btn:hover {
  transform: translateY(-2px);
}

.wheel_result_iner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spin_area {
  text-align: center;
  margin-bottom: 10px;
}

#spin_btn {
  padding: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background: url("https://web-tools-sw.s3.eu-west-3.amazonaws.com/wheel/wheelIcon.gif");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  font-size: 20px;
  text-shadow: 0px 0px 5px #000;
  color: #fff;
}
#spin_btn:hover {
  transform: translateY(-2px);
}
#wheel_open_btn {
  position: absolute;
  top: 10%;
  right: 10px;
  cursor: pointer;
  z-index: 9999;
}
.wheel_open_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.wheel_form {
  width: 100%;
}
.wheel_form_title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0 20px;
}
.wheel_form_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wheel_form_form_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
.wheel_form_form_group_check {
  display: flex;
  margin-bottom: 10px;

  justify-content: center;
  align-items: center;
}
#wheel_form_form_checkbox {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.wheel_form_form_input {
  padding: 5px;
  max-width: 200px;
  width: 100%;
}
.continue_area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#continue_btn {
  padding: 10px;
  background-color: #03c988;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease;
}
